.App {
  text-align: center;
  display:flex;
}
.rightSide {
    flex-grow: 1;
}
.mock {
    position:fixed;
    left:0;
    top:0;
    z-index:9999;
    pointer-events: none;
    opacity: 0.4;
    //visibility:hidden;
}
