.headerItem{
    background-color:#69BDEE;
    margin-top:41px;
    padding-top:12px;
    padding-bottom:3px;
    min-height:40px;
    width:100%;
    color:white;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 800;
    letter-spacing:0.1em;
    font-size:0.8em;
}
