
.sideBarItems {
    font-size:0.8em
}
.sideBarItemText {
    color:white;
    font-size:0.8em
}
.drawerHeader{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #424242;
    height: 81px;
}
.drawerHeaderText{
    vertical-align: middle;
    font-size:1.1em;
    padding-top:10px;
    letter-spacing:0.2em;
    .blue{
        color:#81D0FD;
    }
    .orange{
        color:#fc966c;
    }
}
.drawer {
    background-color:black;
}
